{
 "Configuration Settings":
 [
  {
    "Name": [ "Critic", "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of experiences to randomly select to train the neural network with."
  },
  {
    "Name": [ "Critic", "Learning Rate" ],
    "Type": "float",
    "Description": "The learning rate for the critic NN."
  },
  {
   "Name": [ "Critic", "Discount Factor" ],
   "Type": "float",
   "Description": "Discount Factor for future states."
  },
  {
   "Name": [ "Random Action Probability"],
   "Type": "float",
   "Description": "Specifies the probability of taking an (exploratory) random action. This is the epsilon in the epsilon-greedy strategy."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
 "Random Action Probability": 0.05
 }
}
