{
 "Configuration Settings":
 [
  {
   "Name": [ "Random Action Probability"],
   "Type": "float",
   "Description": "Specifies the probability of taking an (exploratory) random action. This is the epsilon in the epsilon-greedy strategy."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
   "Name": [ "Observations",  "Approximator", "Action Probabilities" ],
   "Type": "std::vector<float>",
   "Description": "Observed action probabilities."
   }
 ],
 
 "Module Defaults":
 {
 "Random Action Probability": 0.05
 }
}
