{
 "Configuration Settings":
 [
  {
   "Name": [ "Policy", "Sample Population" ],
   "Type": "size_t",
   "Description": "The number of samples (n) to sample the policy to obtain Qtilde(s,a)"
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Noise Sigma" ],
    "Type": "double",
    "Description": "Specifies the sigma of the noise for the policy with respect this action variable."
   }
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Policy", "Distributions" ],
   "Type": "std::vector<korali::distribution::univariate::Normal*>",
   "Description": "Normal random number generator for generating one of the action's dimension, given the current policy's mean and sigma."
  }
 ],
 
 "Module Defaults":
 {
  "Policy": 
  {
    "Sample Population": 32
  }
 },
 
 "Variable Defaults":
 {
   "Noise Sigma": -1.0
 }
}
