{
  "Module Data":
  {
    "Class Name": "UniformRatio",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Minimum X" ],
    "Description": "Lower bound of the first (dividend) uniform distribution."
   },
   {
    "Name": [ "Maximum X" ],
    "Description": "Upper bound of the first (divident) uniform distribution."
   },
   {
    "Name": [ "Minimum Y" ],
    "Description": "Lower bound of the second (divisor) uniform distribution."
   },
   {
    "Name": [ "Maximum Y" ],
    "Description": "Upper bound of the second (divisor) uniform distribution."
   }
 ]
}

