{
  "Module Data":
  {
    "Class Name": "Laplace",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Mean" ],
    "Description": "The mean of the Laplace distribution."
   },
   {
    "Name": [ "Width" ],
    "Description": "The scale of the Laplace distribution, it controls the variance."
   }
 ]
}

