{
  "Module Data":
  {
    "Class Name": "Laplace",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Mean" ],
    "Description": ""
   },
   {
    "Name": [ "Width" ],
    "Description": ""
   }
 ]
}

