{
  "Module Data":
  {
    "Class Name": "Normal",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Mean" ],
    "Description": "The mean of the Normal (Gaussian) distribution."
   },
   {
    "Name": [ "Standard Deviation" ],
    "Description": "The standard deviation of the Normal (Gaussian) distribution."
   }
 ]
}

