{
 "Compatible Solvers": [ "" ],

 "Configuration Settings":
 [
   {
    "Name": [ "Number Of Distributions" ],
    "Type": "size_t",
    "Description": "Number of distribution in the mixture."
   },
   {
    "Name": [ "Dimension" ],
    "Type": "size_t",
    "Description": "The Gaussian mixture density is defined on the space of this dimension."
   }
 ],

 "Available Operations":
 [
  {
    "Name": "Update Mean Sufficient Statistics",
    "Description": "Update the expected value of the sufficient statistics.",
    "Function": "updateMeanSufficientStatistics"
  },
  {
    "Name": "Update Hyperparameters",
    "Description": "Update the hyperparameters of the mixture distribution (weights,means,covariances).",
    "Function": "updateHyperparameters"
  }
 ]

}
