{
  "Compatible Solvers": [ "EM" ],

  "Configuration Settings":
  [
    {
      "Name": [ "Number Of Distributions" ],
      "Type": "size_t",
      "Description": "Number of distribution in the mixture."
    },
    {
      "Name": [ "Data" ],
      "Type": "std::vector<std::vector<double>>",
      "Description": "Data for the training of the Gaussian mixture."
    }
  ],

  "Available Operations":
  [
    {
      "Name": "Update Mean Sufficient Statistics",
      "Description": "Update the expected value of the sufficient statistics.",
      "Function": "updateMeanSufficientStatistics"
    },
    {
      "Name": "Update Hyperparameters",
      "Description": "Update the hyperparameters of the mixture distribution (weights,means,covariances).",
      "Function": "updateHyperparameters"
    }
  ],

  "Internal Settings":
  [
    {
      "Name": [ "Data Size" ],
      "Type": "size_t",
      "Description": "Numner of data points."
    },
    {
      "Name": [ "Data Dimension" ],
      "Type": "size_t",
      "Description": "Dimension of data points."
    },
    {
      "Name": [ "Weights" ],
      "Type": "std::vector<double>",
      "Description": "Weights of the Gaussian mixture."
    },
    {
      "Name": [ "Means" ],
      "Type": "std::vector<std::vector<double>>",
      "Description": "Means of the Gaussians in the mixture. The Means are stored row-wise"
    },
    {
      "Name": [ "Covariances" ],
      "Type": "std::vector<std::vector<double>>",
      "Description": "Covariances of the Gaussians in the mixture. The Covariance matrices are vectorized and stored row-wise."
    },
    {
     "Name": [ "Multivariate Normal" ],
     "Type": "std::vector<korali::distribution::multivariate::Normal*>",
     "Description": "Random number generators with a multivariate normal distribution."
    },
    {
     "Name": [ "Multinomial" ],
     "Type": "korali::distribution::specific::Multinomial*",
     "Description": "Random number generator with a multinomial distribution."
    }
  ]


}
