{
  "Module Data":
  {
    "Class Name": "TruncatedNormal",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Mu" ],
    "Description": "The mean of the untruncated Normal distribution."
   },
   {
    "Name": [ "Sigma" ],
    "Description": "The standard deviation of the untruncated Normal distribution."
  },
  {
   "Name": [ "Minimum" ],
   "Description": "The lower bound of the truncated Normal distribution."
  },
  {
   "Name": [ "Maximum" ],
   "Description": "The upper bound of the truncated Normal distribution."
  }
 ]
}
