{
  "Module Data":
  {
    "Class Name": "TruncatedNormal",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Mu" ],
    "Description": ""
   },
   {
    "Name": [ "Sigma" ],
    "Description": ""
  },
  {
   "Name": [ "Minimum" ],
   "Description": ""
  },
  {
   "Name": [ "Maximum" ],
   "Description": ""
  }
 ]
}
