install.config
_korali_result
__test*
_result_*
.exrc
setup.py
.setup
__pycache__
*.conf
*.tar.gz
*.cfg
*.o
*.log
*.so
*.pyc
*.a
*.vim
*.swp
*.swo
*.out
*.err
*.mk
*.result
*.orig
.tags
.tags1
.korali.config
.DS_Store/
.DS_Store
fontconfig/
/include

*.odg#

## -- added by susanne:
# PyCharm:
.idea/
# VisualStudio Code:
.vscode/
.metadata/
*.cproject
*.externalToolBuilders/
*.project/
.project/
*.settings/
*.d

# build directories and virtual environments
/build*
/test_install
/py_venv*
/.env
