{
  "Module Data":
  {
    "Class Name": "Gamma",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Shape" ],
    "Description": "The shape parameter of the Gamma distribution, it controls the mean and skewness."
   },
   {
    "Name": [ "Scale" ],
    "Description": "The scale parameter of the Gamma distribution, it controls the mean."
   }
 ]

}

