{
  "Module Data":
  {
    "Class Name": "Deconvolution",
    "Namespace": ["korali", "neuralNetwork", "layer"],
    "Parent Class Name": "Layer"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Image Height" ],
    "Type": "ssize_t",
    "Description": "Height of the incoming 2D image."
   },
   {
    "Name": [ "Image Width" ],
    "Type": "ssize_t",
    "Description": "Width of the incoming 2D image."
   },
   {
    "Name": [ "Kernel Height" ],
    "Type": "ssize_t",
    "Description": "Height of the incoming 2D image."
   },
   {
    "Name": [ "Kernel Width" ],
    "Type": "ssize_t",
    "Description": "Width of the incoming 2D image."
   },
   {
    "Name": [ "Vertical Stride" ],
    "Type": "ssize_t",
    "Description": "Strides for the image on the vertical dimension."
   },
   {
    "Name": [ "Horizontal Stride" ],
    "Type": "ssize_t",
    "Description": "Strides for the image on the horizontal dimension."
   },
   {
    "Name": [ "Padding Left" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image left side."
   },
   {
    "Name": [ "Padding Right" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image right side."
   },
   {
    "Name": [ "Padding Top" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image top side."
   },
   {
    "Name": [ "Padding Bottom" ],
    "Type": "ssize_t",
    "Description": "Paddings for the image Bottom side."
   }
 ],

  "Internal Settings":
 [
 
 ],

 "Module Defaults":
 {
 }
}
