{

  "Module Data":
  {
    "Class Name": "Continuous",
    "Namespace": ["korali", "problem", "reinforcementLearning"],
    "Parent Class Name": "ReinforcementLearning"
  },

 "Configuration Settings":
 [

 ],

 "Available Operations":
 [

 ],

 "Compatible Solvers": [ "Agent/Continuous" ],

 "Variables Configuration":
 [

 ],

  "Internal Settings":
 [

 ],

 "Module Defaults":
 {

 },

  "Variable Defaults":
 {

 }

}
