{
  "Module Data":
  {
    "Class Name": "SSM",
    "Namespace": ["korali", "solver"],
    "Parent Class Name": "Solver"
  },

 "Configuration Settings":
 [
  {
   "Name": [ "Num Simulations" ],
   "Type": "size_t",
   "Description": "Number of simulations."
  },
  {
   "Name": [ "Num Bins" ],
   "Type": "size_t",
   "Description": "Number of bins to calculate the mean trajectory at termination."
  }
 ],

 "Termination Criteria":
 [
 
 ],

 "Results":
 [
   {
    "Name": [ "Mean Trajectory" ],
    "Type": "std::vector<double>",
    "Description": "Binned mean of trajectory, averaged over all simulation runs."
   }
 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Exponential Generator" ],
    "Type": "korali::distribution::univariate::Exponential*",
    "Description": "Exponential random number generator."
   }
 ],

 "Variable Defaults":
 {

 },

 "Module Defaults":
 {

  "Num Simulatons": 1,
  "Num Bins": 100,

  "Termination Criteria":
  {
  
  }
  
 }
}
