{
  "Module Data":
  {
    "Class Name": "SSM",
    "Namespace": ["korali", "solver"],
    "Parent Class Name": "Solver"
  },

 "Configuration Settings":
 [
  {
    "Name": [ "Simulation Length" ],
    "Type": "double",
    "Description": "Total duration of a stochastic reaction simulation."
  },
  {
   "Name": [ "Diagnostics", "Num Bins" ],
   "Type": "size_t",
   "Description": "Number of bins to calculate the mean trajectory at termination."
  }
 ],

 "Termination Criteria":
 [
   {
    "Name": [ "Max Num Simulations" ],
    "Type": "size_t",
    "Criteria": "_maxNumSimulations < _k->_currentGeneration",
    "Description": "Max number of trajectory simulations."
   }
 ],

 "Results":
 [
   {
    "Name": [ "Mean Trajectory" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Binned mean of trajectory, averaged over all simulation runs."
   }
 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Time" ],
    "Type": "double",
    "Description": "The current time of the simulated trajectory."
   },
   {
    "Name": [ "Num Reactants" ],
    "Type": "std::vector<int>",
    "Description": "The current number of reactants in the simulated trajectory."
   },
   {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator."
   },
   {
    "Name": [ "Bin Counter" ],
    "Type": "std::vector<std::vector<int>>",
    "Description": "Stores the number of reactants per bin for each trajectory and reactant."
   },
   {
    "Name": [ "Binned Trajectories" ],
    "Type": "std::vector<std::vector<std::vector<int>>>",
    "Description": "Stores the number of reactants per bin for each trajectory and reactant."
   }
 ],

 "Variable Defaults":
 {

 },

 "Module Defaults":
 {

  "Diagnostics":
  {
    "Num Bins": 100
  },

  "Termination Criteria":
  {
    "Max Num Simulations": 1
  },

  "Uniform Generator":
  {
    "Type": "Univariate/Uniform",
    "Minimum": 0.0,
    "Maximum": 1.0
  }

 }

}
