{

 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  },
  {
   "Name": [ "Loss Function" ],
   "Type": "std::string",
   "Options": [
      { "Value": "Direct Gradient", "Description": "The given solution represents the gradients of the loss with respect to the network-output. Note that Korali uses the gradients to maximize the objective." },
      { "Value": "Mean Squared Error", "Description": "The loss is calculated as the negative mean of square errors, one per input in the batch. Note that Korali maximizes the negative MSE." }
     ],
   "Description": "Function to calculate the difference (loss) between the NN inference and the exact solution and its gradients for optimization."
  },
  {
   "Name": [ "Optimizer" ],
   "Type": "std::string",
   "Options": [
      { "Value": "Adam", "Description": "Uses the Adam optimizer." },
      { "Value": "AdaBelief", "Description": "Uses the AdaBelief optimizer." }
     ],
   "Description": "Determines which optimizer algorithm to use to apply the gradients on the neural network's hyperparameters."
  },
  {
   "Name": [ "Steps Per Generation" ],
   "Type": "size_t",
   "Description": "Represents the number of opitmization steps to run per each generation."
  },
  {
   "Name": [ "Learning Rate" ],
   "Type": "double",
   "Description": "Learning rate for the underlying ADAM optimizer."
  }
 ],

 "Results":
 [
 
 ],
 
 "Termination Criteria":
 [
   {
    "Name": [ "Max Suboptimal Generations" ],
    "Type": "float",
    "Criteria": "_k->_currentGeneration > 1 && (_maxSuboptimalGenerations > 0) && (_suboptimalGenerationCount >= _maxSuboptimalGenerations)",
    "Description": "Specifies the maximum number of suboptimal generations."
   },
   {
    "Name": [ "Target Loss" ],
    "Type": "float",
    "Criteria": "(_k->_currentGeneration > 1) && (_targetLoss > 0.0) && (_currentLoss <= _targetLoss)",
    "Description": "Specifies the maximum number of suboptimal generations."
   }
 ],

 "Variables Configuration":
 [
  
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Minimum Loss" ],
   "Type": "float",
   "Description": "Best value ever of the loss function."
  },
  {
   "Name": [ "Suboptimal Generation Count" ],
   "Type": "size_t",
   "Description": "Current number of generations without an improvement on loss."
  },
  {
   "Name": [ "Current Loss" ],
   "Type": "float",
   "Description": "Current value of the loss function."
  },
  {
   "Name": [ "Hyperparameters" ],
   "Type": "std::vector<float>",
   "Description": "Stores the current neural network hyperparameters."
  },
  {
   "Name": [ "Normalization Means" ],
   "Type": "std::vector<float>",
   "Description": "Stores the current neural network normalization mean parameters."
  },
  {
   "Name": [ "Normalization Variances" ],
   "Type": "std::vector<float>",
   "Description": "Stores the current neural network normalization variance parameters."
  }
 ],

 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" },
  "Steps Per Generation": 1,
  "Termination Criteria":
   { 
     "Max Suboptimal Generations": 0,
     "Target Loss": -1.0
   }
  
 },

 "Variable Defaults":
 {

 }
}
