{

 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  },
  {
   "Name": [ "Optimizer" ],
   "Type": "knlohmann::json",
   "Description": "Represents the state and configuration of the solver algorithm."
  },
  {
   "Name": [ "Loss Function" ],
   "Type": "std::string",
   "Options": [
      { "Value": "Direct", "Description": "The given solution represents the loss function directly." },
      { "Value": "Mean Squared Error", "Description": "The loss is calculated as the mean of square errors, one per input in the batch." }
     ],
   "Description": "Function to calculate the difference (loss) between the NN inference and the exact solution and its gradients for optimization."
  },
  {
   "Name": [ "Steps Per Generation" ],
   "Type": "size_t",
   "Description": "Represents the number of opitmization steps to run per each generation."
  }
 ],

 "Results":
 [
 
 ],
 
 "Termination Criteria":
 [
   {
    "Name": [ "Max Suboptimal Generations" ],
    "Type": "float",
    "Criteria": "_k->_currentGeneration > 1 && (_maxSuboptimalGenerations > 0) && (_suboptimalGenerationCount >= _maxSuboptimalGenerations)",
    "Description": "Specifies the maximum number of suboptimal generations."
   }
 ],

 "Variables Configuration":
 [
  
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Minimum Loss" ],
   "Type": "float",
   "Description": "Best value ever of the loss function."
  },
  {
   "Name": [ "Suboptimal Generation Count" ],
   "Type": "size_t",
   "Description": "Current number of generations without an improvement on loss."
  },
  {
   "Name": [ "Current Loss" ],
   "Type": "float",
   "Description": "Current value of the loss function."
  },
  {
   "Name": [ "Hyperparameters" ],
   "Type": "std::vector<float>",
   "Description": "Stores the current neural network hyperparameters."
  },
  {
   "Name": [ "Normalization Means" ],
   "Type": "std::vector<float>",
   "Description": "Stores the current neural network normalization mean parameters."
  },
  {
   "Name": [ "Normalization Variances" ],
   "Type": "std::vector<float>",
   "Description": "Stores the current neural network normalization variance parameters."
  }
 ],

 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" },
  "Steps Per Generation": 1,
  "Termination Criteria": { "Max Suboptimal Generations": 0 }
 },

 "Variable Defaults":
 {

 }
}
