{

 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  },
  {
   "Name": [ "Optimizer" ],
   "Type": "knlohmann::json",
   "Description": "Represents the state and configuration of the solver algorithm."
  },
  {
   "Name": [ "Loss Function" ],
   "Type": "std::string",
   "Options": [
      { "Value": "Gradients", "Description": "The given solution represents the hyperparameter gradients and no further computation is needed." },
      { "Value": "Direct", "Description": "The given solution represents the loss function directly." },
      { "Value": "Mean Squared Error", "Description": "The loss is calculated as the mean of square errors, one per input in the batch." }
     ],
   "Description": "Function to calculate the difference (loss) between the NN inference and the exact solution and its gradients for optimization."
  },
  {
   "Name": [ "Steps Per Generation" ],
   "Type": "size_t",
   "Description": "Represents the number of opitmization steps to run per each generation."
  }
 ],

 "Results":
 [
 
 ],
 
 "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Current Loss" ],
   "Type": "double",
   "Description": "Current value of the loss function."
  },
  {
   "Name": [ "Hyperparameters" ],
   "Type": "std::vector<double>",
   "Description": "Stores the current neural network hyperparameters."
  },
  {
   "Name": [ "Normalization Means" ],
   "Type": "std::vector<double>",
   "Description": "Stores the current neural network normalization mean parameters."
  },
  {
   "Name": [ "Normalization Variances" ],
   "Type": "std::vector<double>",
   "Description": "Stores the current neural network normalization variance parameters."
  }
 ],

 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" },
  "Steps Per Generation": 1
 },

 "Variable Defaults":
 {

 }
}
