{

  "Module Data":
  {
    "Class Name": "Distributed",
    "Namespace": ["korali", "conduit"],
    "Parent Class Name": "Conduit"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Ranks Per Worker" ],
    "Type": "int",
    "Description": "Specifies the number of MPI ranks per Korali worker."
   },
   {
    "Name": [ "Engine Ranks" ],
    "Type": "int",
    "Description": "Specifies the number of MPI ranks for the Korali engine."
   }
 ],

 "Module Defaults":
 {
   "Ranks Per Worker": 1,
   "Engine Ranks": 1
 }

}
