{

  "Module Data":
  {
    "Class Name": "Distributed",
    "Namespace": ["korali", "conduit"],
    "Parent Class Name": "Conduit"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Ranks Per Worker" ],
    "Type": "int",
    "Default": "1",
    "Description": "Specifies the number of workers per model evaluation to use."
   },

   {
    "Name": [ "Communicator" ],
    "Type": "int",
    "Description": "Specifies the MPI communicator from which to create worker teams."
   }
 ],

 "Module Defaults":
 {
   "Ranks Per Worker": 1,
   "Communicator": 0
 }

}
