{

  "Module Data":
  {
    "Class Name": "Distributed",
    "Namespace": ["korali", "conduit"],
    "Parent Class Name": "Conduit"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Ranks Per Worker" ],
    "Type": "int",
    "Description": "Specifies the number of MPI ranks per Korali worker (k)."
   }
 ],

 "Module Defaults":
 {
   "Ranks Per Worker": 1
 }

}
