{
 "Configuration Settings":
 [
  {
    "Name": [ "Advantage", "Learning Rate Scale" ],
    "Type": "float",
    "Description": "Indicates the relation of the advantage learning rate to the critic learning rate."
  },
  {
    "Name": [ "Policy", "Learning Rate Scale" ],
    "Type": "float",
    "Description": "Indicates the relation of the policy learning rate to the critic learning rate. This can be used to delay the learning of the policy."
  },
  {
    "Name": [ "Policy", "Adoption Rate" ],
    "Type": "float",
    "Description": "Smoothes the rate at which the new policy hyperparameters are adopted. (1-r)*oldH + r*newH."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Initial Exploration Noise" ],
    "Type": "float",
    "Description": "Initial standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Advantage": { "Learning Rate Scale": 1.0 },
  "Policy": { "Learning Rate Scale": 1.0 }
 },
 
 "Variable Defaults":
 {
  "Initial Exploration Noise": -1.0
 }
}
