{
 "Configuration Settings":
 [

 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Critic": 
  {
    "Adoption Rate": 0.99
  },
   
  "Policy":
  {
    "Adoption Rate": 0.99
  }
  
 },
 
 "Variable Defaults":
 {
 }
}
