{
 "Configuration Settings":
 [
   {
    "Name": [ "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of experiences to randomly select to train the neural network with."
  },
  {
    "Name": [ "Critic", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the critic."
  },
  {
    "Name": [ "Critic", "Learning Rate" ],
    "Type": "float",
    "Description": "The learning rate for the critic NN."
  },
  {
   "Name": [ "Critic", "Discount Factor" ],
   "Type": "float",
   "Description": "Discount Factor for future states."
  },
  {
   "Name": [ "Critic", "Adoption Rate" ],
   "Type": "float",
   "Description": "The inverse of the rate at which the new critic parameters are adopted."
  },
  {
    "Name": [ "Policy", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the policy."
  },
  {
    "Name": [ "Policy", "Learning Rate" ],
    "Type": "float",
    "Description": "The learning rate for the policy NN."
  },
  {
   "Name": [ "Policy", "Adoption Rate" ],
   "Type": "float",
   "Description": "The inverse of the rate at which the new policy parameters are adopted."
  },
  {
    "Name": [ "State Value Function Samples" ],
    "Type": "size_t",
    "Description": "Represents the number of samples from the noise distribution to evaluate for the calculation of V(s)."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Mini Batch Size": 32,
     
  "Critic": 
  {
    "Neural Network":   { "Type": "Neural Network" },
    "Adoption Rate": 0.99
  },
   
  "Policy":
  {
    "Neural Network":   { "Type": "Neural Network" },
    "Adoption Rate": 0.99
  },
  
  "State Value Function Samples": 30
 },
 
 "Variable Defaults":
 {
 }
}
