{

  "Module Data":
  {
    "Class Name": "Executor",
    "Namespace": ["korali", "solver"],
    "Parent Class Name": "Solver"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Executions Per Generation" ],
    "Type": "size_t",
    "Description": "Specifies the number of model executions per generation and the maximum number of parallel executions. By default this setting is 0, meaning that all executions will be performed in the first generation and maximal scheduling. For values greater 0, executions will be split into batches and split into generations for intermediate output."
   }
 ],

 "Results":
 [

 ],

  "Internal Settings":
 [
   {
    "Name": [ "Sample Count" ],
    "Type": "size_t",
    "Description": "Number of samples to execute."
   }
 ],

 "Module Defaults":
 {
   "Executions Per Generation": 500000000
 }
}
