{
  "Module Data":
  {
    "Class Name": "fMadGrad",
    "Namespace": ["korali"],
    "Parent Class Name": "fGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
 ],
 "Internal Settings":
 [
  {
     "Name": [ "Initial Value" ],
     "Type": "std::vector<float>",
     "Description": "Intitial value x0, currently set to 0."
  },
  {
     "Name": [ "s" ],
     "Type": "std::vector<float>",
     "Description": "Scaled gradient sum."
  },
  {
     "Name": [ "v" ],
     "Type": "std::vector<float>",
     "Description": "Scaled digaonal sum of the outer products of the gradients diag(gg^T)."
  },
  {
     "Name": [ "z" ],
     "Type": "std::vector<float>",
     "Description": "Update rule."
  },
  {
     "Name": [ "Momentum" ],
     "Type": "float",
     "Description": "Momentum to be used."
  }
 ],

 "Module Defaults":
 {
   "Eta": 0.001,
   "Momentum": 0.9
 }
}
