{
 "Configuration Settings":
 [
 
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Average Policy Error" ],
   "Type": "float",
   "Description": "Average Off-Policy Objective in minibatch."
  },
  {
   "Name": [ "Stdev Policy Error" ],
   "Type": "float",
   "Description": "Standard deviation Off-Policy Objective in minibatch."
  },
  {
   "Name": [ "Average Action Sigmas" ],
   "Type": "std::vector<float>",
   "Description": "Average action standard deviation in mini batch."
  }
 ],
 
 "Module Defaults":
 {
  "Experience Replay": { "REFER": { "Enabled": true } }
 },
 
 "Variable Defaults":
 {
 
 }
}
