{
 "Configuration Settings":
 [
 
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Policy", "Distributions" ],
   "Type": "std::vector<korali::distribution::univariate::Normal*>",
   "Description": "Normal random number generator for generating one of the action's dimension, given the current policy's mean and sigma."
  },
  {
   "Name": [ "Average Policy Error" ],
   "Type": "float",
   "Description": "Average Off-Policy Objective in minibatch."
  },
  {
   "Name": [ "Stdev Policy Error" ],
   "Type": "float",
   "Description": "Standard deviation Off-Policy Objective in minibatch."
  }
 ],
 
 "Module Defaults":
 {
  "Experience Replay": { "REFER": { "Enabled": true } }
 },
 
 "Variable Defaults":
 {
 
 }
}
