{
  "Module Data":
  {
    "Class Name": "VRACER",
    "Namespace": ["korali", "solver", "agent", "continuous"],
    "Parent Class Name": "Continuous"
  },

 "Configuration Settings":
 [

 ],

 "Results":
 [

 ],

  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Initial Exploration Noise" ],
    "Type": "float",
    "Description": "Initial standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Statistics", "Average Action Sigmas" ],
   "Type": "std::vector<float>",
   "Description": "Standard deviation of actions in minibatch."
  }
 ],

 "Module Defaults":
 {
 },

 "Variable Defaults":
 {
  "Initial Exploration Noise": -1.0
 }
}
