{
 "Configuration Settings":
 [
  {
    "Name": [ "Policy", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm for argmax_action(Q)."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [

 ],
 
 "Module Defaults":
 {

 },
 
 "Variable Defaults":
 {

 }
}
