{
 "Configuration Settings":
 [
  {
    "Name": [ "Critic", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the critic."
  },
  {
    "Name": [ "Critic", "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of experiences to randomly select to train the neural network with."
  },
  {
    "Name": [ "Critic", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm for the weights and biases of the critic NN."
  },
  {
   "Name": [ "Critic", "Discount Factor" ],
   "Type": "float",
   "Description": "Discount Factor for future states."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [

 ],
 
 "Module Defaults":
 {
   "Trajectory Size": 1,
   "Optimization Steps Per Trajectory": 1,
   
   "Critic": 
   {
     "Mini Batch Size": 32,
     "Neural Network":   { "Type": "Neural Network" }
   },
   
   "Random Action Probability": 
   {
      "Initial Value": 1.0,
      "Decrease Rate": 0.1,
      "Target Value": 0.05
   }

 },
 
 "Variable Defaults":
 {

 }
}
