{
 "Configuration Settings":
 [
  {
   "Name": [ "Epsilon", "Initial Value" ],
   "Type": "double",
   "Description": "Specifies the initial value for epsilon, the probability of not choosing the best possible action (exploitation) and using a random selection instead (exploration). e = 0 represents a pure greedy strategy, 0 < e < 1 represents the epsilon-greedy strategy, and e = 1 represents a purely random strategy."
  },
  {
   "Name": [ "Epsilon", "Decrease Rate" ],
   "Type": "double",
   "Description": "Specifies the how much the value of epsilon should be decreased as generations progress. A rate d(e) > 0.0 represents the Epsilon-decreasing strategy."
  },
  {
   "Name": [ "Epsilon", "Target Value" ],
   "Type": "double",
   "Description": "Specifies the last value of epsilon after which it will not be reduced any further."
  },
  {
    "Name": [ "Action Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm for argmax_action(Q)."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [

 ],
 
 "Module Defaults":
 {
  "Epsilon":
  {
   "Initial Value": 0.9,
   "Decrease Rate": 0.001,
   "Target Value": 0.1
  }
 },
 
 "Variable Defaults":
 {

 }
}
