{
  "Module Data":
  {
    "Class Name": "MonteCarlo",
    "Namespace": ["korali", "solver", "integrator"],
    "Parent Class Name": "Integrator"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Number Of Samples" ],
    "Type": "size_t",
    "Description": "Specifies the number of randomly generated parameter to evaluate."
   }
 ],

  "Internal Settings":
 [
   {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator."
   }
 ],

 "Module Defaults":
 {
   "Uniform Generator":
   {
    "Type": "Univariate/Uniform",
    "Minimum": 0.0,
    "Maximum": 1.0
   }
 }
}

