{
  "Module Data":
  {
    "Class Name": "Designer",
    "Namespace": ["korali", "solver"],
    "Parent Class Name": "Solver"
  },

 "Configuration Settings":
 [
     {
      "Name": [ "Executions Per Generation" ],
      "Type": "size_t",
      "Description": "Specifies the number of model executions per generation. By default this setting is 0, meaning that all executions will be performed in the first generation. For values greater 0, executions will be split into batches and split int generations for intermediate output."
     },
     {
       "Name": [ "Sigma" ],
       "Type": "double",
       "Description": "Standard deviation for measurement."
     }
 ],

  "Internal Settings":
 [
   {
    "Name": [ "Prior Samples" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "The samples of the prior distribution."
   },
   {
    "Name": [ "Model Evaluations" ],
    "Type": "std::vector<std::vector<std::vector<double>>>",
    "Description": "Evaluations of the samples of the prior distribution."
   },
   {
    "Name": [ "Normal Generator" ],
    "Type": "korali::distribution::univariate::Normal*",
    "Description": "Gaussian random number generator."
   },
   {
    "Name": [ "Parameter Lower Bounds" ],
    "Type": "std::vector<double>",
    "Description": "The lower bound of the parameters."
   },
   {
    "Name": [ "Parameter Upper Bounds" ],
    "Type": "std::vector<double>",
    "Description": "The upper bound of the parameters."
   },
   {
    "Name": [ "Parameter Extent" ],
    "Type": "std::vector<double>",
    "Description": "The extent of the domain of the parameters (for grid-based evaluation)."
   },
   {
    "Name": [ "Number Of Parameter Samples" ],
    "Type": "std::vector<size_t>",
    "Description": "The number of samples per direction."
   },
   {
    "Name": [ "Parameter Distribution Index" ],
    "Type": "std::vector<int>",
    "Description": "The distribution of parameters (for monte-carlo evaluation)."
   },
   {
    "Name": [ "Parameter Grid Spacing" ],
    "Type": "std::vector<double>",
    "Description": "The grid spacing of the parameters (for grid-based evaluation)."
   },
   {
    "Name": [ "Parameter Helper Indices" ],
    "Type": "std::vector<size_t>",
    "Description": "Holds helper to calculate cartesian indices from linear index (for grid-based evaluation)."
   },
   {
    "Name": [ "Parameter Integrator" ],
    "Type": "std::string",
    "Description": "The integrator that is used for the parameter-integral."
   },
   {
    "Name": [ "Design Lower Bounds" ],
    "Type": "std::vector<double>",
    "Description": "The lower bound of the designs."
   },
   {
    "Name": [ "Design Upper Bounds" ],
    "Type": "std::vector<double>",
    "Description": "The upper bound of the designs."
   },
   {
    "Name": [ "Design Extent" ],
    "Type": "std::vector<double>",
    "Description": "The extent of the design space."
   },
   {
    "Name": [ "Number Of Design Samples" ],
    "Type": "std::vector<size_t>",
    "Description": "The number of samples per direction."
   },
   {
    "Name": [ "Design Grid Spacing" ],
    "Type": "std::vector<double>",
    "Description": "The grid spacing of the designs (for grid-based evaluation)."
   },
   {
    "Name": [ "Design Helper Indices" ],
    "Type": "std::vector<size_t>",
    "Description": "Holds helper to calculate cartesian indices from linear index (for grid-based evaluation)."
   },
   {
    "Name": [ "Design Candidates" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Holds candidate designs."
   },
   {
    "Name": [ "Number Of Measurement Samples" ],
    "Type": "std::vector<size_t>",
    "Description": "The number of samples per direction."
   },
   {
    "Name": [ "Number Of Prior Samples" ],
    "Type": "size_t",
    "Description": "Specifies the number of samples drawn from the prior distribution."
   },
   {
    "Name": [ "Number Of Likelihood Samples" ],
    "Type": "size_t",
    "Description": "Specifies the number of samples drawn from the likelihood."
   },
   {
    "Name": [ "Number Of Designs" ],
    "Type": "size_t",
    "Description": "Specifies the number of design parameters (for grid-based evaluation)."
   },
   {
    "Name": [ "Utility" ],
    "Type": "std::vector<double>",
    "Description": "Evaluation of utility."
   },
   {
    "Name": [ "Optimal Design" ],
    "Type": "size_t",
    "Description": "Coordinates of the optimal design."
   }
 ],

 "Module Defaults":
 {
   "Executions Per Generation": 0,
   "Sigma": 0,

   "Normal Generator":
   {
    "Type": "Univariate/Normal",
    "Mean": 0.0,
    "Standard Deviation": 1.0
   }
 }
}

