{
 "Configuration Settings":
 [
   {
    "Name": [ "Policy", "Optimization Steps" ],
    "Type": "size_t",
    "Description": "The number of optimization steps on the policy before updating agents with it."
   },
   {
    "Name": [ "Policy", "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of latest experiences to select to train the policy neural network with."
  },
  {
    "Name": [ "Policy", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the policy."
  },
  {
    "Name": [ "Policy", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the optimizer for the weights and biases of the policy NN."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Exploration Noise", "Enabled" ],
    "Type": "bool",
    "Description": "Indicates whether to use exploration noise or not."
  },
  {
    "Name": [ "Exploration Noise", "Distribution" ],
    "Type": "korali::distribution::Univariate*",
    "Description": "Random number distribution to introduce noise to the action exploration."
  },
  {
    "Name": [ "Exploration Noise", "Theta" ],
    "Type": "double",
    "Description": "Indicates the amount of noise to preserve from the previous step. Used to reflect Ornstein-Uhlenbeck correlation is selected."
  }
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Policy":
  {
    "Neural Network":   { "Type": "Neural Network" },
    "Mini Batch Size":   8,
    "Optimization Steps": 1
  }
 },
 
 "Variable Defaults":
 {
  "Exploration Noise":
  {
   "Enabled": false,
   "Theta": 0.15,
   "Distribution":
   {
    "Type": "Univariate/Normal",
    "Mean": 0.0,
    "Standard Deviation": 0.2
   }
  }
 }
}
