{
 "Configuration Settings":
 [
   {
    "Name": [ "Input", "Data" ],
    "Type": "std::vector<std::vector<std::vector<float>>>",
    "Description": "Provides the training data, a vector of size T*N*M, where T is the timestep, N is the batch size and M is the number of variables in each entry."
   },
   {
    "Name": [ "Solution", "Data" ],
    "Type": "std::vector<std::vector<std::vector<float>>>",
    "Description": "Provides the pre-calculated (offline) outputs for the given inputs. If this is provided, then the output function is not called."
   }
 ],

 "Compatible Solvers": [ "Learner/DeepSupervisor", "Learner/Gaussian Process" ],

 "Internal Settings":
 [
   {
    "Name": [ "Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the number of entries on the input and solution data."
   },
   {
    "Name": [ "Input", "Timestep Count" ],
    "Type": "size_t",
    "Description": "Stores the number of timesteps in the input data set."
   },
   {
    "Name": [ "Input", "Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the input space."
   },
   {
    "Name": [ "Solution", "Timestep Count" ],
    "Type": "size_t",
    "Description": "Stores the number of timesteps in the input data set."
   },
   {
    "Name": [ "Solution", "Vector Size" ], 
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the solution space."
   }
 ],

 "Module Defaults":
 {
   "Inputs": [ ],
   "Solution": [ ]
 }

}
