{
 "Configuration Settings":
 [
   {
    "Name": [ "Inputs" ],
    "Type": "std::vector<std::vector<float>>",
    "Description": "Provides the training data, a vector of size N*M, where N is the batch size and M is the number of variables in each entry."
   },
   {
    "Name": [ "Solution" ],
    "Type": "std::vector<std::vector<float>>",
    "Description": "Provides the pre-calculated (offline) outputs for the given inputs. If this is provided, then the output function is not called."
   }
 ],

 "Compatible Solvers": [ "Learner/DeepSupervisor", "Learner/Gaussian Process" ],

 "Internal Settings":
 [
   {
    "Name": [ "Input Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the input space."
   },
   {
    "Name": [ "Solution Vector Size" ], 
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the solution space."
   },
   {
    "Name": [ "Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the number of entries on the input vector."
   }
 ],

 "Module Defaults":
 {
   "Inputs": [ ],
   "Solution": [ ]
 }

}
