{

  "Module Data":
  {
    "Class Name": "SupervisedLearning",
    "Namespace": ["korali", "problem"],
    "Parent Class Name": "Problem"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Training Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the batch size of the training dataset."
   },
   {
    "Name": [ "Testing Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the batch size of the testing dataset."
   },
   {
    "Name": [ "Max Timesteps" ],
    "Type": "size_t",
    "Description": "Stores the length of the sequence for recurrent neural networks."
   },
   {
    "Name": [ "Input", "Data" ],
    "Type": "std::vector<std::vector<std::vector<float>>>",
    "Description": "Provides the input data with layout T*N*IC, where T is the sequence length, N is the batch size and IC is the vector size of the input."
   },
   {
    "Name": [ "Input", "Size" ],
    "Type": "size_t",
    "Description": "Indicates the vector size of the input (IC)."
   },
   {
    "Name": [ "Solution", "Data" ],
    "Type": "std::vector<std::vector<float>>",
    "Description": "Provides the solution for one-step ahead prediction with layout N*OC, where N is the batch size and OC is the vector size of the output."
   },
   {
    "Name": [ "Solution", "Size" ],
    "Type": "size_t",
    "Description": "Indicates the vector size of the output (OC)."
   }
 ],

 "Compatible Solvers": [ "Learner/DeepSupervisor", "Learner/Gaussian Process" ],

 "Internal Settings":
 [

 ],

 "Module Defaults":
 {
   "Max Timesteps": 1,
   "Input": { "Data": [ ] },
   "Solution": { "Data": [ ] }
 }

}
