{
  "Module Data":
  {
    "Class Name": "Exponential",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Location" ],
    "Description": "Shift for the exponential distribution."
   },
   {
    "Name": [ "Mean" ],
    "Description": "Mean and standard deviation of the (unshifted) exponential distribution."
   }
 ]

}

