{
  
  "Module Data":
  {
    "Class Name": "ReinforcementLearning",
    "Namespace": ["korali", "problem"],
    "Parent Class Name": "Problem"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Environment Function" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Function to initialize and run a new environment."
   },
   {
    "Name": [ "Actions Between Policy Updates" ],
    "Type": "size_t",
    "Description": "Number of actions to take before requesting a new policy."
   },
   {
    "Name": [ "Testing Frequency" ],
    "Type": "size_t",
    "Description": "Generation intervals at which the current policy will be forcibly tested (even if it does not meet the threshold)."
   },
   {
    "Name": [ "Training Reward Threshold" ],
    "Type": "float",
    "Description": "Minimum value (r) of the episode's average training reward for a policy to be considered as candidate."
   },
   {
    "Name": [ "Policy Testing Episodes" ],
    "Type": "size_t",
    "Description": "Number of test episodes to run the policy (without noise) for, for which the average reward will serve to evaluate the reward termination criteria."
   },
   {
    "Name": [ "Custom Settings" ],
    "Type": "knlohmann::json",
    "Description": "Any used-defined settings required by the environment."
   }
 ],

 "Available Operations":
 [
  {
    "Name": "Run Training Episode",
    "Description": "Runs the environment and receives the state and rewards and provides training actions (policy + exploratory noise)for an entire episode.",
    "Function": "runTrainingEpisode"
  },
  {
    "Name": "Run Testing Episode",
    "Description": "Runs the environment and receives the state and rewards and provides testing actions (policy only) for an entire episode.",
    "Function": "runTestingEpisode"
  }
 ],

 "Compatible Solvers": [ "Agent" ],

 "Variables Configuration":
 [
   {
    "Name": [ "Type" ],
    "Type": "std::string",
    "Options": [
                { "Value": "State", "Description": "The variable describes the state vector." },
                { "Value": "Action", "Description": "The variable describes the action vector." }
               ],
    "Description": "Indicates if the variable belongs to the state or action vector."
   },
   {
   "Name": [ "Lower Bound" ],
   "Type": "float",
   "Description": "Lower bound for the variable's value."
  },
  {
   "Name": [ "Upper Bound" ],
   "Type": "float",
   "Description": "Upper bound for the variable's value."
  }
 ],

  "Internal Settings":
 [
   {
    "Name": [ "Action Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the action space."
   },
   {
    "Name": [ "State Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the state space."
   },
   {
    "Name": [ "Action Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the action vector."
   },
   {
    "Name": [ "State Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the action vector."
   }
 ],

 "Module Defaults":
 {
   "Testing Frequency": 0,
   "Policy Testing Episodes": 5,
   "Actions Between Policy Updates": 0,
   "Custom Settings": {}
 },

  "Variable Defaults":
 {
   "Type": "State",
   "Lower Bound": -Infinity,
   "Upper Bound": Infinity
 }

}
