{ 
"Configuration Settings":
 [
  {
    "Name": [ "Policy Distribution" ],
    "Type": "std::string",
    "Description": "Distribution to sample actions from (either Normal or Beta)."
  }
 
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Exploration Sigma" ],
    "Type": "float",
    "Description": "Standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
  {
    "Name": [ "Normal Generator" ],
    "Type": "korali::distribution::univariate::Normal*",
    "Description": "Gaussian random number generator for the agent's action."
  },
  {
    "Name": [ "Action Lower Bounds" ],
    "Type": "std::vector<float>",
    "Description": "Lower bounds for actions."
  },
  {
    "Name": [ "Action Upper Bounds" ],
    "Type": "std::vector<float>",
    "Description": "Upper bounds for actions."
  },
  {
   "Name": [ "Action Scalings" ],
   "Type": "std::vector<float>",
   "Description": "Scaling factors of action variables (upper - lower bound)."
  }
 ],
 
 "Module Defaults":
 {
  "Policy Distribution": "Normal",
  "Normal Generator":
   {
    "Type": "Univariate/Normal",
    "Mean": 0.0,
    "Standard Deviation": 1.0
   }
 },
 
 "Variable Defaults":
 {
  "Exploration Sigma": -1.0
 }
}
