{ 
"Configuration Settings":
 [
  {
   "Name": [ "Policy Distribution" ],
   "Type": "std::string",
   "Options": [
               { "Value": "Normal", "Description": "Use a normal distribution for the production of unbounded actions." },
               { "Value": "Squashed Normal", "Description": "Use the a squashed normal distribution for the production of an action given lower and upper bounds with compensation for normal gradients. Based on work by Guido Novati." },
               { "Value": "Beta", "Description": "Use the beta distribution for the production of an action given lower and upper bounds." }
              ],
   "Description": "Specifies which probability distribution to use to generate the actions of the agent."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 ],

 "Internal Settings":
 [
  {
    "Name": [ "Normal Generator" ],
    "Type": "korali::distribution::univariate::Normal*",
    "Description": "Gaussian random number generator for the agent's action."
  },
  {
    "Name": [ "Action Lower Bounds" ],
    "Type": "std::vector<float>",
    "Description": "Lower bounds for actions."
  },
  {
    "Name": [ "Action Upper Bounds" ],
    "Type": "std::vector<float>",
    "Description": "Upper bounds for actions."
  },
  {
   "Name": [ "Action Scalings" ],
   "Type": "std::vector<float>",
   "Description": "Stores the scaling factor for each of the variables (depending on the distribution used, this value will change)."
  }
 ],
 
 "Module Defaults":
 {
  "Normal Generator":
   {
    "Type": "Univariate/Normal",
    "Mean": 0.0,
    "Standard Deviation": 1.0
   },
   
   "Policy Distribution": "Normal"
 },
 
 "Variable Defaults":
 {
 }
}
