{

  "Module Data":
  {
    "Class Name": "Continuous",
    "Namespace": ["korali", "solver", "agent"],
    "Parent Class Name": "Agent"
  },

"Configuration Settings":
 [
  {
   "Name": [ "Policy", "Distribution" ],
   "Type": "std::string",
   "Options": [
               { "Value": "Normal", "Description": "Use a normal distribution for the production of unbounded actions." },
               { "Value": "Squashed Normal", "Description": "Use the a normal distribution for the production of an action given lower and upper bounds with compensation for normal gradients. Based on work by Guido Novati." },
               { "Value": "Beta", "Description": "Use the beta distribution for the production of an action given lower and upper bounds." }
              ],
   "Description": "Specifies which probability distribution to use to generate the actions of the agent."
  }
 ],

 "Results":
 [

 ],

  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 ],

 "Internal Settings":
 [
  {
    "Name": [ "Normal Generator" ],
    "Type": "korali::distribution::univariate::Normal*",
    "Description": "Gaussian random number generator for the agent's action."
  },
  {
    "Name": [ "Action Shifts" ],
    "Type": "std::vector<float>",
    "Description": "Shift required for bounded actions."
  },
  {
    "Name": [ "Action Scales" ],
    "Type": "std::vector<float>",
    "Description": "Scales required for bounded actions."
  },
  {
   "Name": [ "Policy", "Parameter Count" ],
   "Type": "size_t",
   "Description": "Stores the number of parameters that determine the probability distribution for the current state sequence."
  },
  {
   "Name": [ "Policy", "Parameter Transformation Masks" ],
   "Type": "std::vector<std::string>",
   "Description": "Stores the transformations required for each parameter."
  },
  {
   "Name": [ "Policy", "Parameter Scaling" ],
   "Type": "std::vector<float>",
   "Description": "Stores the scaling required for the parameter after the transformation is applied."
  },
  {
   "Name": [ "Policy", "Parameter Shifting" ],
   "Type": "std::vector<float>",
   "Description": "Stores the shifting required for the parameter after the scaling is applied."
  }
 ],

 "Module Defaults":
 {
  "Normal Generator":
   {
    "Type": "Univariate/Normal",
    "Mean": 0.0,
    "Standard Deviation": 1.0
   },
   
   "Policy":
   {
    "Distribution": "Squashed Normal"
   }
 },

 "Variable Defaults":
 {
 }
}
