{
  "Module Data":
  {
    "Class Name": "Discrete",
    "Namespace": ["korali", "problem", "reinforcementLearning"],
    "Parent Class Name": "ReinforcementLearning"
  },

 "Configuration Settings":
 [
  {
    "Name": [ "Possible Actions" ],
    "Type": "std::vector<std::vector<float>>",
    "Description": "The set of all possible actions."
  }
 ],

 "Available Operations":
 [

 ],

 "Compatible Solvers": [ "Agent/Discrete" ],

 "Variables Configuration":
 [
 ],

  "Internal Settings":
 [

 ],

 "Module Defaults":
 {

 },

  "Variable Defaults":
 {

 }

}
