{
  "Module Data":
  {
    "Class Name": "Discrete",
    "Namespace": ["korali", "problem", "reinforcementLearning"],
    "Parent Class Name": "ReinforcementLearning"
  },

 "Configuration Settings":
 [

  {
    "Name": [ "Possible Actions" ],
    "Type": "std::vector<std::vector<float>>",
    "Description": "The set of all possible actions."
  }
 ],

 "Available Operations":
 [

 ],

 "Compatible Solvers": [ "Agent/Discrete" ],

 "Variables Configuration":
 [
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Action Count" ],
   "Type": "size_t",
   "Description": "The maximum number of actions an agent can take."
  }
 ],

 "Module Defaults":
 {

 },

  "Variable Defaults":
 {

 }

}
