{
 "Configuration Settings":
 [
  {
   "Name": [ "Discount Factor" ],
   "Type": "double",
   "Description": "Discount Factor for future rewards."
  }, 
  {
    "Name": [ "Trust Region Divergence Constraint" ],
    "Type": "double",
    "Description": "The constraint on the KL divergence for the calculation and adjustment to the trust region."
  },
  {
    "Name": [ "Normalization Batch Size" ],
    "Type": "size_t",
    "Description": "The batch size to use for normalization steps."
  },
  {
    "Name": [ "Off Policy Updates" ],
    "Type": "size_t",
    "Description": "The number of off-policy updates to perform, besides the obligatory on-policy update."
  },
  {
    "Name": [ "Critic", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the critic."
  },
  {
    "Name": [ "Critic", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm for the weights and biases of the critic NN."
  },
  {
    "Name": [ "Policy", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the policy."
  },
  {
    "Name": [ "Policy", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the optimizer for the weights and biases of the policy NN."
  },
  {
   "Name": [ "Policy", "Adoption Rate" ],
   "Type": "double",
   "Description": "The rate at which the new policy parameters are adoped. p_avg = adoptionRate * p_avg + (1 - adoptionRate) * p_new."
  },
  {
   "Name": [ "Importance Weight Truncation" ],
   "Type": "double",
   "Description": "Maximum value (c) for the importance weight (to prevent it from exploding), before multiplying it by Lambda."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Policy", "Average Hyperparameters" ],
   "Type": "std::vector<double>",
   "Description": "Stores the average policy hyperparameters."
  },
  {
   "Name": [ "Policy", "Current Hyperparameters" ],
   "Type": "std::vector<double>",
   "Description": "Stores the current policy hyperparameters."
  }
 ],
 
 "Module Defaults":
 {
  "Trust Region Divergence Constraint": 1.0,
  "Normalization Batch Size": 32,
  
  "Critic": 
  {
    "Neural Network": { "Type": "Neural Network" }
  },
   
  "Policy":
  {
    "Neural Network": { "Type": "Neural Network" },
    "Adoption Rate": 0.99
  },
  
  "Importance Weight Truncation": 5.0
 },
 
 "Variable Defaults":
 {
 
 }
}
