{
 "Configuration Settings":
 [
  {
    "Name": [ "Critic", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the critic."
  },
  {
    "Name": [ "Critic", "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of experiences to randomly select to train the neural network with."
  },
  {
    "Name": [ "Critic", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm for the weights and biases of the critic NN."
  },
  {
    "Name": [ "Critic", "Optimization Steps" ],
    "Type": "size_t",
    "Description": "The number of optimization steps on the training Q estimator to perform between episode executions, before updating the actual Q estimator."
  },
  {
   "Name": [ "Critic", "Discount Factor" ],
   "Type": "double",
   "Description": "Discount Factor for future states."
  },
   {
    "Name": [ "Policy", "Optimization Steps" ],
    "Type": "size_t",
    "Description": "The number of optimization steps on the policy before updating agents with it."
   },
   {
    "Name": [ "Policy", "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of latest experiences to select to train the policy neural network with."
  },
  {
    "Name": [ "Policy", "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural network to use for the policy."
  },
  {
    "Name": [ "Policy", "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the optimizer for the weights and biases of the policy NN."
  },
  {
    "Name": [ "State Value Function Samples" ],
    "Type": "size_t",
    "Description": "Represents the number of samples from the noise distribution to evaluate for the calculation of V(s)."
  },
  {
   "Name": [ "Importance Weight Truncation" ],
   "Type": "double",
   "Description": "Maximum value (c) for the importance weight (to prevent it from exploding), before multiplying it by Lambda."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Critic": 
  {
    "Mini Batch Size": 32,
    "Optimization Steps": 10,
    "Neural Network":   { "Type": "Neural Network" }
  },
   
  "Policy":
  {
    "Neural Network":   { "Type": "Neural Network" },
    "Mini Batch Size":   8,
    "Optimization Steps": 1
  },
  
  "State Value Function Samples": 30,
  "Importance Weight Truncation": 1.0
 },
 
 "Variable Defaults":
 {
 
 }
}
