{
  "Module Data":
  {
    "Class Name": "Integrator",
    "Namespace": ["korali", "solver"],
    "Parent Class Name": "Solver"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Executions Per Generation" ],
    "Type": "size_t",
    "Description": "Specifies the number of model executions per generation. By default this setting is 0, meaning that all executions will be performed in the first generation. For values greater 0, executions will be split into batches and split int generations for intermediate output."
   }
 ],

  "Results":
 [
   {
    "Name": [ "Integral" ],
    "Type": "double",
    "Description": "Value of the integral."
   }
 ],
 
 "Variables Configuration":
 [
   {
    "Name": [ "Lower Bound" ],
    "Type": "double",
    "Description": "Lower bound for integration."
   },
   {
    "Name": [ "Upper Bound" ],
    "Type": "double",
    "Description": "Upper bound for integration."
   }
 ],

  "Internal Settings":
 [
   {
    "Name": [ "Accumulated Integral" ],
    "Type": "double",
    "Description": "Current value of the integral."
   },
   {
    "Name": [ "Grid Points" ],
    "Type": "std::vector<std::vector<float>>",
    "Description": "Gridpoints for quadrature."
   },
   {
    "Name": [ "Weight" ],
    "Type": "float",
    "Description": "Precomputed weight for MC sample."
   }

 ],

 "Module Defaults":
 {
   "Executions Per Generation": 100
 }
}

