{
  "Module Data":
  {
    "Class Name": "fGradientBasedOptimizer",
    "Namespace": ["korali"],
    "Parent Class Name": "Module"
  },

 "Internal Settings":
 [
 ],
 
 "Configuration Settings":
 [
   {
    "Name": [ "N Vars" ],
    "Type": "size_t",
    "Description": "Size of variable space size(x) of f(x)"
   },
   {
    "Name": [ "Eta" ],
    "Type": "float",
    "Description": "Step size/learning rate for current iterration."
   }
 ],

 "Module Defaults":
 {
    "N Vars": 0,
    "Eta": 0.0001
 }
}
