{
  "Module Data":
  {
    "Class Name": "fGradientBasedOptimizer",
    "Namespace": ["korali"],
    "Parent Class Name": "Module"
  },

 "Internal Settings":
 [
  {
   "Name": [ "Current Value" ],
   "Type": "std::vector<float>",
   "Description": "Holds current values of the parameters."
   }
 ],
 
 "Configuration Settings":
 [
   {
   "Name": [ "Epsilon" ],
   "Type": "float",
   "Description": "Term to guard agains numerical instability."
   },
   {
    "Name": [ "N Vars" ],
    "Type": "size_t",
    "Description": "Size of variable space size(x) of f(x)"
   },
   {
    "Name": [ "Eta" ],
    "Type": "float",
    "Description": "Step size/learning rate for current iterration."
   }
 ],

 "Module Defaults":
 {
    "Epsilon": 0.00000001,
    "N Vars": 0,
    "Eta": 0.0001
 }
}
