{
 "Configuration Settings":
 [
  {
    "Name": [ "Critic", "Target Update Delay" ],
    "Type": "size_t",
    "Description": "The number of training steps to perform before updating the target network."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
    "Name": [ "VHat Hyperparameters" ],
    "Type": "std::vector<float>",
    "Description": "Stores neural network hyperparameters of VHat function."
   },
   {
    "Name": [ "AHat Hyperparameters" ],
    "Type": "std::vector<float>",
    "Description": "Stores neural network hyperparameters of AHat function."
   }
 ],
 
 "Module Defaults":
 {
   "Critic":
   {
    "Target Update Delay": 1
   },
   
   "Optimization Steps Per Update": 1,
   
   "Random Action Probability": 
   {
      "Initial Value": 1.0,
      "Decrease Rate": 0.1,
      "Target Value": 0.05
   }

 },
 
 "Variable Defaults":
 {

 }
}
