{
  "Module Data":
  {
    "Class Name": "dVRACER",
    "Namespace": ["korali", "solver", "agent", "discrete"],
    "Parent Class Name": "Discrete"
  },

 "Configuration Settings":
 [
  {
    "Name": [ "Initial Inverse Temperature" ],
    "Type": "float",
    "Description": "Initial inverse temperature of the softmax distribution. Large values lead to a distribution that is more concentrated around the action with highes Q-value estimate."
  },
  {
    "Name": [ "Annealing Time" ],
    "Type": "size_t",
    "Description": "Number of policy updates until epsilon is fully annealed."
  }
 ],

 "Results":
 [

 ],

  "Termination Criteria":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Statistics", "Average Inverse Temperature" ],
   "Type": "float",
   "Description": "Measure of unlikeability for categorial data, approaches 1.0 for uniform behavior and 0. for deterministic case."
  },
  {
   "Name": [ "Statistics", "Average Action Unlikeability" ],
   "Type": "float",
   "Description": "Measure of unlikeability for categorial data, approaches 1.0 for uniform behavior and 0. for deterministic case."
  }
 ],

 "Module Defaults":
 {
  "Initial Inverse Temperature": 1.0,
  "Annealing Time": 10000000
 },
 "Variable Defaults":
 {
 }
}
