{
 "Configuration Settings":
 [

 ],

 "Results":
 [

 ],


 "Termination Criteria":
 [
  {
    "Name": [ "Min Hyperparameters Difference" ],
    "Type": "double",
    "Criteria": "_k->_currentGeneration > 1 && ( _hyperparametersDifference < _minHyperparametersDifference )",
    "Description": "Minimum difference of hyperparameters between two succesive iterations."
  },
  {
   "Name": [ "Min Loglikelihood Difference" ],
   "Type": "double",
   "Criteria": "_k->_currentGeneration > 1 && ( _dataLoglikelihoodDifference < _minLoglikelihoodDifference )",
   "Description": "Minimum difference of hyperparameters between two succesive iterations."
  }

 ],

  "Internal Settings":
 [
   {
    "Name": [ "Hyperparameters Difference" ],
    "Type": "double",
    "Description": "Difference of hyperparameters between two succesive iterations."
  },
  {
   "Name": [ "Data Loglikelihood Difference" ],
   "Type": "double",
   "Description": "Difference of data loglikelihood between two succesive iterations."
  }
 ],

 "Module Defaults":
 {
  "Termination Criteria":
   {
    "Min Hyperparameters Difference": 1e-9,
    "Min Loglikelihood Difference": -1.0
   }
 }
}