{
  "Module Data":
  {
    "Class Name": "Igamma",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Shape" ],
    "Description": "The shape parameter of the inverse gamma distribution."
   },
   {
    "Name": [ "Scale" ],
    "Description": "The scale parameter of the inverse gamma distribution."
   }
   
 ]

}
