{
  "Module Data":
  {
    "Class Name": "TauLeaping",
    "Namespace": ["korali", "solver", "ssm"],
    "Parent Class Name": "SSM"
  },

 "Configuration Settings":
 [
 
 ],

 "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
 
 ],

  "Module Defaults":
 {
 },

 "Variable Defaults":
 {
 }
}
