{
  "Module Data":
  {
    "Class Name": "TauLeaping",
    "Namespace": ["korali", "solver", "ssm"],
    "Parent Class Name": "SSM"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Nc" ],
    "Type": "int",
    "Description": "TODO."
   },
   {
    "Name": [ "Eps" ],
    "Type": "double",
    "Description": "TODO."
   },
   {
    "Name": [ "Acceptance Factor" ],
    "Type": "double",
    "Description": "TODO."
   },
   {
    "Name": [ "Num SSA Steps" ],
    "Type": "int",
    "Description": "Number of intermediate SSA steps if leap step rejected."
   }
 ],

 "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Poisson Generator" ],
    "Type": "korali::distribution::univariate::Poisson*",
    "Description": "Poisson random number generator."
   },
   {
    "Name": [ "Mu" ],
    "Type": "std::vector<double>",
    "Description": "TODO."
   },
   {
    "Name": [ "Sigma Square" ],
    "Type": "std::vector<double>",
    "Description": "TODO."
   }
 ],

  "Module Defaults":
 {
 },

 "Variable Defaults":
 {
 }
}
