{
  "Module Data":
  {
    "Class Name": "TauLeaping",
    "Namespace": ["korali", "solver", "ssm"],
    "Parent Class Name": "SSM"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Nc" ],
    "Type": "int",
    "Description": "TODO."
   },
   {
    "Name": [ "Eps" ],
    "Type": "double",
    "Description": "TODO."
   },
   {
    "Name": [ "Acceptance Factor" ],
    "Type": "double",
    "Description": "TODO."
   },
   {
    "Name": [ "Num Steps SSA" ],
    "Type": "int",
    "Description": "TODO."
   }
 ],

 "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
 
 ],

  "Module Defaults":
 {
 },

 "Variable Defaults":
 {
 }
}
