{

  "Module Data":
  {
    "Class Name": "NeuralNetwork",
    "Namespace": ["korali"],
    "Parent Class Name": "Module"
  },


 "Configuration Settings":
 [
   {
    "Name": [ "Engine" ],
    "Type": "std::string",
    "Options": [
            { "Value": "Korali", "Description": "Uses Korali's lightweight NN support. (CPU Sequential - Does not require installing third party software other than Eigen)" },
            { "Value": "OneDNN", "Description": "Distributes Mu values equally. (CPU Sequential/Parallel - Requires installing oneDNN)" },
            { "Value": "CuDNN", "Description": "Distributes Mu values logarithmically. (GPU - Requires an existing installation of CUDNN)" }
           ],
    "Description": "Specifies which Neural Network backend engine to use."
   },
   {
    "Name": [ "Mode" ],
    "Type": "std::string",
    "Options": [
            { "Value": "Training", "Description": "Use for training and inference. Stores training byproducts during forward propagation and allows backward propagation." },
            { "Value": "Inference", "Description": "Use for inference only. Only runs forward propagation and does not store any training byproducts. Faster for inference." }
           ],
    "Description": "Specifies the execution mode of the Neural Network."
   },
   {
    "Name": [ "Layers" ],
    "Type": "knlohmann::json", 
    "Description": "Complete description of the NN's layers."
   },
   {
    "Name": [ "Timestep Count" ],
    "Type": "size_t",
    "Description": "Provides the timesteps to be expected for the input/output data."
   },
   {
    "Name": [ "Batch Sizes" ],
    "Type": "std::vector<size_t>",
    "Description": "Specifies the batch sizes for the NN input/output data."
   }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Current Training Loss" ],
    "Type": "float",
    "Description": "Current value of the training loss."
   },
   {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator for setting the initial value of the weights and biases."
   }
 ],

 "Module Defaults":
 {
    "Engine": "Korali",
    "Input Values": [ ],
    "Batch Sizes": [ ],
    "Uniform Generator":
    {
     "Type": "Univariate/Uniform",
     "Minimum": -1.0,
     "Maximum": 1.0
    }

 }

}
