{
 "Configuration Settings":
 [
  {
   "Name": [ "Epsilon" ],
   "Type": "float",
   "Description": "Represents the cutoff for the clipped policy update."
  },
  {
   "Name": [ "Number Of Training Epochs" ],
   "Type": "size_t",
   "Description": "Number of epochs to run the policy update."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Initial Exploration Noise" ],
    "Type": "float",
    "Description": "Initial standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
  {
   "Name": [ "Statistics", "Average Action Sigmas" ],
   "Type": "std::vector<float>",
   "Description": "Standard deviation of actions in minibatch."
  }
 ],
 
 "Module Defaults":
 {
  "Epsilon": 0.2
 },
 
 "Variable Defaults":
 {
  "Initial Exploration Noise": -1.0
 }
}
