{
  "Module Data":
  {
    "Class Name": "ES",
    "Namespace": ["korali", "solver", "optimizer"],
    "Parent Class Name": "Optimizer"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Population Size" ],
    "Type": "size_t",
    "Description": "Specifies the number of samples to evaluate per generation (preferably $4+3*log(N)$, where $N$ is the number of variables)."
   },
   {
    "Name": [ "Version" ],
    "Type": "std::string",
    "Description": "Name of the algorithm."
   },
   {
    "Name": [ "Learning Rate" ],
    "Type": "double",
    "Description": "The learning rate of the ES-SGA and ES-EM-C algorithm."
   }
 ],

 "Termination Criteria":
 [
   {
    "Name": [ "Max Infeasible Resamplings" ],
    "Type": "size_t",
    "Criteria": "_k->_currentGeneration > 1 && ((_maxInfeasibleResamplings > 0) && (_infeasibleSampleCount >= _maxInfeasibleResamplings))",
    "Description": "Maximum number of resamplings per candidate per generation if sample is outside of Lower and Upper Bound."
   }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
    "Name": [ "Normal Generator" ],
    "Type": "korali::distribution::univariate::Normal*",
    "Description": "Normal random number generator."
   },
   {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator."
   },
   {
    "Name": [ "Sorting Index" ],
    "Type": "std::vector<size_t>",
    "Description": "Descending Sorting Index of Value Vector."
   },
   {
    "Name": [ "Value Vector" ],
    "Type": "std::vector<double>",
    "Description": "Objective function values."
   },
   {
    "Name": [ "Weight Vector" ],
    "Type": "std::vector<double>",
    "Description": "Weights to update mean and covariance."
   },
   {
    "Name": [ "Sample Population" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Sample coordinate information."
   },
   {
    "Name": [ "Random Vector" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Random numbers to produce sample."
   },
   {
    "Name": [ "Finished Sample Count" ],
    "Type": "size_t",
    "Description": "Counter of evaluated samples to terminate evaluation."
   },
   {
    "Name": [ "Current Best Variables" ],
    "Type": "std::vector<double>",
    "Description": "Best variables of current generation."
   },
   {
    "Name": [ "Best Ever Variables" ],
    "Type": "std::vector<double>",
    "Description": "Best variables of current generation."
   },
   {
    "Name": [ "Previous Best Value" ],
    "Type": "double",
    "Description": "Best model evaluation from previous generation."
   },
   {
    "Name": [ "Best Sample Index" ],
    "Type": "size_t",
    "Description": "Index of the best sample in current generation."
   },
   {
    "Name": [ "Previous Best Ever Value" ],
    "Type": "double",
    "Description": "Best ever model evaluation as of previous generation."
   },
   {
    "Name": [ "Covariance Matrix" ],
    "Type": "std::vector<double>",
    "Description": "Covariance Matrix of proposal distribution."
   },
   {
    "Name": [ "Sigma Matrix" ],
    "Type": "std::vector<double>",
    "Description": "Lower triangular matrix of cholesky decomposition of the covariance matrix."
   },
   {
    "Name": [ "Current Mean" ],
    "Type": "std::vector<double>",
    "Description": "Current mean of proposal distribution."
   },
   {
    "Name": [ "Previous Mean" ],
    "Type": "std::vector<double>",
    "Description": "Previous mean of proposal distribution."
   },
   {
    "Name": [ "Infeasible Sample Count" ],
    "Type": "size_t",
    "Description": "Keeps count of the number of infeasible samples."
   },
   {
    "Name": [ "Maximum Diagonal Covariance Matrix Element" ],
    "Type": "double",
    "Description": "Maximum diagonal element of the Covariance Matrix."
   },
   {
    "Name": [ "Minimum Diagonal Covariance Matrix Element" ],
    "Type": "double",
    "Description": "Minimum diagonal element of the Covariance Matrix."
   },
   {
    "Name": [ "Version Id" ],
    "Type": "size_t",
    "Description": "Identified for version."
   }
 ],

  "Module Defaults":
 {
   "Population Size": 0,
   "Diagonal Covariance": false,
   "Mirrored Sampling": false,
   "Termination Criteria":
    {
     "Max Infeasible Resamplings": 10000,
     "Max Condition Covariance Matrix": Infinity,
     "Min Standard Deviation": -Infinity,
     "Max Standard Deviation": Infinity
    },

    "Uniform Generator":
    {
     "Type": "Univariate/Uniform",
     "Minimum": 0.0,
     "Maximum": 1.0
    },

    "Normal Generator":
    {
     "Type": "Univariate/Normal",
     "Mean": 0.0,
     "Standard Deviation": 1.0
    },

    "Best Ever Value": -Infinity,
    "Current Min Standard Deviation": Infinity,
    "Current Max Standard Deviation": -Infinity
 },

 "Variable Defaults":
 {

 }
}
