{
  "Module Data":
  {
    "Class Name": "Weibull",
    "Namespace": ["korali", "distribution", "univariate"],
    "Parent Class Name": "Univariate"
  },

 "Conditional Variables":
 [
   {
    "Name": [ "Shape" ],
    "Description": ""
   },
   {
    "Name": [ "Scale" ],
    "Description": ""
   }
 ]

}

