{
 "Configuration Settings":
 [
   {
   "Name": [ "Observation File" ],
   "Type": "std::string",
   "Description": "File containing expert trajectories."
   }
 ],

 "Available Operations":
 [
 
 ],
 
 "Compatible Solvers": [ "Agent/Continuous" ],
 
 "Variables Configuration":
 [
  {
   "Name": [ "Lower Bound" ],
   "Type": "float",
   "Description": "Lower bound for the variable's value."
  },
  {
   "Name": [ "Upper Bound" ],
   "Type": "float",
   "Description": "Upper bound for the variable's value."
  }
 ],
 
  "Internal Settings":
 [
   {
   "Name": [ "Observation Json" ],
   "Type": "knlohmann::json",
   "Description": "Object containing expert trajectories (states and actions)."
   }
 ],
 
 "Module Defaults":
 {
 
 },
 
  "Variable Defaults":
 {
   "Lower Bound": -Infinity,
   "Upper Bound": Infinity
 }

}
