{
  "Module Data":
  {
    "Class Name": "fAdaBelief",
    "Namespace": ["korali"],
    "Parent Class Name": "fGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
  {
   "Name": [ "Beta1" ],
   "Type": "float",
   "Description": "Term to guard agains numerical instability."
  },
  {
   "Name": [ "Beta2" ],
   "Type": "float",
   "Description": "Term to guard agains numerical instability."
  }
 ],
 "Internal Settings":
 [
  {
   "Name": [ "Beta1 Pow" ],
   "Type": "float",
   "Description": "First running powers of beta_1^t."
  },
  {
   "Name": [ "Beta2 Pow" ],
   "Type": "float",
   "Description": "Second running powers of beta_2^t."
  },
  {
     "Name": [ "First Moment" ],
     "Type": "std::vector<double>",
     "Description": "First moment of Gradient."
  },
  {
     "Name": [ "Second Moment" ],
     "Type": "std::vector<double>",
     "Description": "Second moment of Gradient."
  },
  {
     "Name": [ "Second Central Moment" ],
     "Type": "std::vector<double>",
     "Description": "Second central moment."
  }
 ],

 "Module Defaults":
 {
 }
}
