{
 "Configuration Settings":
 [
  {
    "Name": [ "Target Update Delay" ],
    "Type": "size_t",
    "Description": "The number of training steps to perform before updating the target network."
  }
 ],

 "Results":
 [

 ],

  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Statistics", "Average Q Star" ],
   "Type": "float",
   "Description": "Average Q among the experiences from all minibatches in this generation."
  },
  {
   "Name": [ "Statistics", "Stdev Q Star" ],
   "Type": "float",
   "Description": "Standard deviation Q among the experiences in a minibatch in this generation."
  }
 ],

 "Module Defaults":
 {
   "Target Update Delay": 1,

   "Random Action Probability": 
   {
      "Initial Value": 1.0,
      "Decrease Rate": 0.1,
      "Target Value": 0.05
   }

 },

 "Variable Defaults":
 {

 }
}
