{
 "Configuration Settings":
 [
  {
    "Name": [ "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of experiences to randomly select to train the neural network with."
  },
  {
    "Name": [ "Learning Rate" ],
    "Type": "float",
    "Description": "The learning rate for the critic NN."
  },
  {
    "Name": [ "Target Update Delay" ],
    "Type": "size_t",
    "Description": "The number of training steps to perform before updating the target network."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
   "Target Update Delay": 1,
   
   "Random Action Probability": 
   {
      "Initial Value": 1.0,
      "Decrease Rate": 0.1,
      "Target Value": 0.05
   }

 },
 
 "Variable Defaults":
 {

 }
}
