{
 "Configuration Settings":
 [
  {
    "Name": [ "Policy", "Target Accuracy" ],
    "Type": "float",
    "Description": "The minimum difference between two global optimization steps to reach to update policy."
  },
  {
    "Name": [ "State Value Function Samples" ],
    "Type": "size_t",
    "Description": "Represents the number of samples from the noise distribution to evaluate for the calculation of V(s)."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
     
  "Policy":
  {
    "Target Accuracy": 0.0001
  },
  
  "State Value Function Samples": 30
 },
 
 "Variable Defaults":
 {
 
 }
}
