{
 "Configuration Settings":
 [
  {
    "Name": [ "Policy", "Learning Rate Scale" ],
    "Type": "float",
    "Description": "Indicates the relation of the policy learning rate to the critic learning rate. This can be used to delay the learning of the policy."
  },
  {
    "Name": [ "Policy", "Optimization Candidates" ],
    "Type": "float",
    "Description": "The number of candidates evaluated per generation CMAES."
  },
  {
    "Name": [ "Policy", "Target Accuracy" ],
    "Type": "float",
    "Description": "Termination criteria for the CMAES optimizer. It represents the minimum difference between the maximum advantage value between two optimization steps."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
  {
    "Name": [ "Initial Exploration Noise" ],
    "Type": "float",
    "Description": "Initial standard deviation of the fixed exploration noise for the given action."
  }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Statistics", "Average Covariance" ],
    "Type": "std::vector<float>",
    "Description": "[Statistics] The average values of the diagonal of the covariance matrix for the CMAES optimization of the advantage function."
   }
 ],
 
 "Module Defaults":
 {
  "Experience Replay": { "REFER": { "Enabled": true } },
  "Policy": { "Learning Rate Scale": 1.0 }
 },
 
 "Variable Defaults":
 {
  "Initial Exploration Noise": -1.0
 }
}
