{
 "Configuration Settings":
 [
   {
    "Name": [ "Dropout Probability" ],
    "Type": "float",
    "Description": "Specifies the probability with which the value from input is set to zero during the dropout layer."
   }
 ],
 
  "Internal Settings":
 [
 ],
 
 "Module Defaults":
 {
  "Dropout Probability": 0.0
 }
}
