{
  "Module Data":
  {
    "Class Name": "Recurrent",
    "Namespace": ["korali", "neuralNetwork", "layer"],
    "Parent Class Name": "Layer"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Depth" ],
    "Type": "size_t",
    "Description": "The number of consecutive copies of this layer. This has a better performance than just defining many of these layers manually since it is optimized by the underlying engine."
   }
 ],

  "Internal Settings":
 [
 ],

 "Module Defaults":
 {
  "Depth": 1
 }
}
