{
 "Configuration Settings":
 [
   { 
    "Name": [ "Architecture" ],
    "Type": "std::string",
    "Options": [
                { "Value": "GRU", "Description": "Uses the Gated recurrent units (GRUs) architecture." },
                { "Value": "LSTM", "Description": "Uses the Long short-term memory (LSTM) architecture." }
               ],
    "Description": "Specifies the recurrent neural network architecture to use in the layer."
   }
 ],
 
  "Internal Settings":
 [
 ],
 
 "Module Defaults":
 {
  "Architecture": "LSTM"
 }
}
