{
  "Module Data":
  {
    "Class Name": "Quadrature",
    "Namespace": ["korali", "solver", "integrator"],
    "Parent Class Name": "Integrator"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Method" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Rectangle", "Description": "Uses the Rectangle Rule to perform the integration." },
                { "Value": "Trapezoidal", "Description": "Uses the Trapezoidal Rule to perform the integration." },
                { "Value": "Simpson", "Description": "Uses the Simpson Rule to perform the integration." }
               ],
    "Description": "The name of the quadrature rule."
   }
 ],
 
 "Variables Configuration":
 [
   {
    "Name": [ "Number Of Gridpoints" ],
    "Type": "size_t",
    "Description": "Number of Gridpoints along given axis."
   }
 ],

  "Internal Settings":
 [
   {
    "Name": [ "Indices Helper" ],
    "Type": "std::vector<size_t>",
    "Description": "Holds helper to calculate cartesian indices from linear index."
   }
 ]

}

