{
 "Configuration Settings":
 [
  {
    "Name": [ "Mini Batch Size" ],
    "Type": "size_t",
    "Description": "The number of experiences to randomly select to train the neural network with."
  },
  {
    "Name": [ "Learning Rate" ],
    "Type": "float",
    "Description": "The learning rate for the critic NN."
  },
  {
   "Name": [ "Discount Factor" ],
   "Type": "float",
   "Description": "Discount Factor for future states."
  },
  {
   "Name": [ "Target Learning Rate" ],
   "Type": "float",
   "Description": "Geometric learning rate of target network."
  },
  {
   "Name": [ "Covariance Scaling" ],
   "Type": "float",
   "Description": "This parameter scales the covariance of the action noise."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Policy", "Distributions" ],
   "Type": "std::vector<korali::distribution::univariate::Normal*>",
   "Description": "Normal random number generator for generating one of the action's dimension, given the current policy's mean and sigma."
  },
  {
    "Name": [ "QHat Hyperparameter" ],
    "Type": "std::vector<float>",
    "Description": "Stores neural network hyperparameter of QHat function."
  },
  {
   "Name": [ "Average Action Sigmas" ],
   "Type": "std::vector<float>",
   "Description": "Average diagonal elements in L matrix in mini batch."
  }
 ],
 
 "Module Defaults":
 {
   "Covariance Scaling": 1.0
 },
 
 "Variable Defaults":
 {

 }
}
