{
 "Configuration Settings":
 [
  {
   "Name": [ "Target Learning Rate" ],
   "Type": "float",
   "Description": "Geometric learning rate of target network."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Policy", "Distributions" ],
   "Type": "std::vector<korali::distribution::univariate::Normal*>",
   "Description": "Normal random number generator for generating one of the action's dimension, given the current policy's mean and sigma."
  },
  {
    "Name": [ "QHat Hyperparameter" ],
    "Type": "std::vector<float>",
    "Description": "Stores neural network hyperparameter of QHat function."
  }
 ],
 
 "Module Defaults":
 {
   "Optimization Steps Per Update": 1,
   
   "Random Action Probability": 
   {
      "Initial Value": 1.0,
      "Decrease Rate": 0.1,
      "Target Value": 0.05
   }

 },
 
 "Variable Defaults":
 {

 }
}
