{
  "Module Data":
  {
    "Class Name": "fAdaGrad",
    "Namespace": ["korali"],
    "Parent Class Name": "fGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
  {
   "Name": [ "Epsilon" ],
   "Type": "float",
   "Description": "Term to guard agains numerical instability."
  }
 ],
 "Internal Settings":
 [
  {
     "Name": [ "Gdiag" ],
     "Type": "std::vector<float>",
     "Description": "Digaonal sum of the outer products of the gradients diag(gg^T)"
  }
 ],

 "Module Defaults":
 {
   "Epsilon": 0.00000001,
   "Eta": 0.001
 }
}
