{
  "Module Data":
  {
    "Class Name": "fAdaGrad",
    "Namespace": ["korali"],
    "Parent Class Name": "fGradientBasedOptimizer"
  },

 "Configuration Settings":
 [
 ],

 "Internal Settings":
 [
  {
     "Name": [ "Gdiag" ],
     "Type": "std::vector<float>",
     "Description": "Digaonal sum of the outer products of the gradients diag(gg^T)"
  }
 ],

 "Module Defaults":
 {
 }
}
