{
  "Module Data":
  {
    "Class Name": "Concurrent",
    "Namespace": ["korali", "conduit"],
    "Parent Class Name": "Conduit"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Concurrent Jobs" ],
    "Type": "size_t",
    "Description": "Specifies the number of worker processes (jobs) running concurrently."
   }
 ],

 "Module Defaults":
 {
   "Concurrent Jobs": 1
 }


}
