{
  "Module Data":
  {
    "Class Name": "Reaction",
    "Namespace": ["korali", "problem"],
    "Parent Class Name": "Problem"
  },

 "Compatible Solvers": [ "SSM" ],

 "Configuration Settings":
 [
   {
    "Name": [ "Simulation Length" ],
    "Type": "double",
    "Description": "Total duration of stochastic reaction simulation."
   }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Reactions" ],
    "Type": "knlohmann::json", 
    "Description": "Complete description of all reactions."
   }
 ],
 
 "Variables Configuration":
 [
   {
    "Name": [ "Initial Reactant Number" ],
    "Type": "double",
    "Description": "The initial amount of the reactant."
   }
 ],
 
 "Variable Defaults":
 {
  "Initial Reactant Number" : 0
 }

}
