{
  "Module Data":
  {
    "Class Name": "Reaction",
    "Namespace": ["korali", "problem"],
    "Parent Class Name": "Problem"
  },

 "Compatible Solvers": [ "SSM" ],

 "Configuration Settings":
 [
 
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Reactions" ],
    "Type": "knlohmann::json", 
    "Description": "Complete description of all reactions."
   },
   {
    "Name": [ "Reactant Name To Index Map" ],
    "Type": "std::map<std::string, int>",
    "Description": "Maps the reactants name to an internal index."
   },
   {
    "Name": [ "Initial Reactant Numbers" ],
    "Type": "std::vector<int>",
    "Description": "Maps the reactants name to an internal index."
   }
 ],
 
 "Variables Configuration":
 [
   {
    "Name": [ "Initial Reactant Number" ],
    "Type": "int",
    "Description": "The initial amount of the reactant."
   }
 ],
 
 "Variable Defaults":
 {
  "Initial Reactant Number" : 0
 }

}
