{
 "Configuration Settings":
 [
 
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [
 
 ],

 "Internal Settings":
 [
  {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator for selecting actions from the policy."
  }
 ],
 
 "Module Defaults":
 {
  "Uniform Generator":
  {
    "Type": "Univariate/Uniform",
    "Minimum": 0.0,
    "Maximum": 1.0
  }
 },
 
 "Variable Defaults":
 {
 
 }
}
