{
 "Module Data":
 {
   "Class Name": "MADGRAD",
   "Namespace": ["korali", "solver", "optimizer"],
   "Parent Class Name": "Optimizer"
 },
  
 "Configuration Settings":
 [
   {
    "Name": [ "Eta" ],
    "Type": "double",
    "Description": "Learning Rate"
   },
   {
    "Name": [ "Weight Decay" ],
    "Type": "double",
    "Description": "Constant for exponential moving avaerage of value update."
   },
   {
    "Name": [ "Epsilon" ],
    "Type": "double",
    "Description": "Term for numerical stability"
   }
 ],

 "Termination Criteria":
 [
    {
    "Name": [ "Min Gradient Norm" ],
    "Type": "double",
    "Criteria": "(_k->_currentGeneration > 1) && (_gradientNorm <= _minGradientNorm)",
    "Description": "Specifies the minimal norm for the gradient of function with respect to Parameters."
   },
   {
    "Name": [ "Max Gradient Norm" ],
    "Type": "double",
    "Criteria": "(_k->_currentGeneration > 1) && (_gradientNorm >= _maxGradientNorm)",
    "Description": "Specifies the minimal norm for the gradient of function with respect to Parameters."
   }
 ],
 
 "Results":
 [
   {
    "Name": [ "Best Gradient(x)" ],
    "Type": "std::vector<double>",
    "Description": "Values of dF(x) for the x parameters that produced the best F(x) found so far."
   }
 ],

 "Variables Configuration":
 [
 ],

 "Internal Settings":
 [
   {
     "Name": [ "Current Variable" ],
     "Type": "std::vector<double>",
     "Description": "Current value of parameters."
   },
   {
     "Name": [ "Scaled Learning Rate" ],
     "Type": "double",
     "Description": "The learning rate of the current generation."
   },
   {
     "Name": [ "Initial Parameter" ],
     "Type": "std::vector<double>",
     "Description": "Initial value of parameters."
   },
   {
     "Name": [ "Gradient" ],
     "Type": "std::vector<double>",
     "Description": "Gradient of Function with respect to Parameters."
   },
   {
     "Name": [ "Best Ever Gradient" ],
     "Type": "std::vector<double>",
     "Description": "Gradient of function with respect to Best Ever Variables."
   },
   {
     "Name": [ "Gradient Norm" ],
     "Type": "double",
     "Description": "Norm of gradient of function with respect to Parameters."
   },
   {
     "Name": [ "Gradient Sum" ],
     "Type": "std::vector<double>",
     "Description": "The sum of scaled gradients."
   },
   {
     "Name": [ "Squared Gradient Sum" ],
     "Type": "std::vector<double>",
     "Description": "The sum of the scaled squares of the gradient."
   }
 ],
 
 "Module Defaults":
 {
  "Eta": 0.01,
  "Weight Decay": 0.9,
  "Epsilon": 1e-6,
  
  "Termination Criteria":
  {
     "Min Gradient Norm": 1e-12,
     "Max Gradient Norm": 1e12
  }
 }
}
