{

  "Module Data":
  {
    "Class Name": "ThetaNew",
    "Namespace": ["korali", "problem", "hierarchical"],
    "Parent Class Name": "Hierarchical"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Psi Experiment" ],
    "Type": "knlohmann::json",
    "Description": "Results from the hierarchical Psi experiment."
   }
 ]
}
