{

    "Module Data":
    {
      "Class Name": "Theta",
      "Namespace": ["korali", "problem", "hierarchical"],
      "Parent Class Name": "Hierarchical"
    },

 "Configuration Settings":
 [
   {
    "Name": [ "Theta Experiment" ],
    "Type": "knlohmann::json",
    "Description": "Results from one previous Korali execution."
   },
   {
    "Name": [ "Psi Experiment" ],
    "Type": "knlohmann::json",
    "Description": "Results from the hierarchical problem (Psi)."
   }
 ]
}
