{

  "Module Data":
  {
    "Class Name": "Layer",
    "Namespace": ["korali", "neuralNetwork"],
    "Parent Class Name": "Module"
  },

 "Configuration Settings":
 [
   {
    "Name": [ "Output Channels" ],
    "Type": "size_t",
    "Description": "Indicates the size of the output vector produced by the layer."
   },
   {
    "Name": [ "Weight Scaling" ],
    "Type": "float",
    "Description": "Factor that is mutliplied by the layers' weights."
   }
 ],

  "Internal Settings":
 [
 ],

 "Module Defaults":
 {
  "Output Channels": 0,
  "Weight Scaling": 1.0
 }
}
